.Common_Step_Container_Input_Heading {
  margin-top: 2.5rem;
  font-size: 2.5rem;
  line-height: 2.5rem;
  font-family: "Poppins-Regular";
  color: #202020d3;
  margin-bottom: 1rem;
}

.common_Details_For_All {
  display: flex;
  flex-direction: column;
}
.Common_Step_Input_Container {
  /* margin: 1.5rem 0rem; */
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.Common_Basis_Details_Item,
.Common_Skill_Details_Item,
.Common_Contact_Details_Item {
  width: 47% !important;
}
.Common_Step_Secondary_Input_Container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.Second_Prime_Class {
  width: 47%;
}
.plusIconContainer:hover {
  background-color: #0b9ad6;
  transition: all 0.8s ease-in-out;
}
.Common_Counter_Counter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  width: 100%;
  padding: 1.3rem 1.8rem;
  border-radius: 1rem;
  margin: 1rem 0rem;
}
.Degree_Container {
  color: white;
  font-size: 2.5rem;
  line-height: 3.5rem;
}
.Cross_Icon_Container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #202020d3;
  padding: 1rem;
  border-radius: 0.6rem;
}
.Cross_Icon_Container:hover {
  background-color: #0b9ad6;
  transition: 1s;
}
.CrossIcon {
  width: 1.5rem;
  object-fit: contain;
  /* border: 1px solid red; */
}

/* FOR START & END YEAR SELECT CSS START  */
.Options_Container_Main {
  height: 5rem;
  display: flex;
  justify-content: flex-start;
  padding-left: 2rem;
  margin: 0.8rem 0rem;
}

.Select_Container_TRUE {
  border: 1.8px solid #2020202f;
  border-radius: 1rem;
  max-height: 29rem;
  padding: 0.5rem;
  display: block !important;
  cursor: pointer;
}
.Select_Container {
  position: absolute;
  z-index: 10;
  background-color: white;
  width: 100%;
  display: none;
  border-radius: 1.5rem;
  max-height: 28rem;
  overflow: auto;
  padding: 1rem;
}
.Date_Container {
  position: relative;
}

.Option_Container_Option {
  font-size: 3rem;
  margin: 1rem 0rem;
  color: #202020a9;
  font-family: "Questrial-Regular";
}

/* FOR START & END YEAR SELECT CSS END  */
@media only screen and (max-width: 1200px) {
  .Common_Step_Input_Container {
    display: flex;
    flex-direction: column;
  }
  .Common_Basis_Details_Item,
  .Common_Contact_Details_Item {
    width: 100% !important;
  }
  .Second_Prime_Class {
    width: 100% !important;
  }
}
@media only screen and (max-width: 900px) {
  .Common_Step_Input_Container {
    display: flex;
    flex-direction: row;
  }
  .Common_Basis_Details_Item,
  .Common_Skill_Details_Item,
  .Common_Contact_Details_Item {
    width: 47% !important;
  }
  .Common_SIngle_Class {
    width: 100% !important;
  }
  .Second_Prime_Class {
    width: 47% !important;
  }
}
@media only screen and (max-width: 450px) {
  .Common_Step_Input_Container {
    display: flex;
    flex-direction: column;
  }
  .Common_Basis_Details_Item,
  .Common_Skill_Details_Item,
  .Common_Contact_Details_Item {
    width: 100% !important;
  }
  .Common_SIngle_Class {
    width: 100% !important;
  }
  .Second_Prime_Class {
    width: 100% !important;
  }
}
