.Common_Step_Container_Input_Heading {
  margin-top: 2.5rem;
  font-size: 2.5rem;
  line-height: 2.5rem;
  font-family: "Poppins-Regular";
  color: #202020d3;
  margin-bottom: 1rem;
}
.common_Details_For_All {
  display: flex;
  flex-direction: column;
}
.Common_Step_Input_Container {
  /* margin: 1.5rem 0rem; */
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.Common_Basis_Details_Item,
.Common_Skill_Details_Item,
.Common_Contact_Details_Item {
  width: 47%;
}
.Common_Step_Secondary_Input_Container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.Second_Prime_Class {
  width: 47% !important;
}
.plusIconContainer:hover {
  background-color: #0b9ad6;
  transition: all 0.8s ease-in-out;
}
.Common_Counter_Counter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  width: 100%;
  padding: 1.3rem 1.8rem;
  border-radius: 1rem;
  margin: 1rem 0rem;
}
.Degree_Container {
  color: white;
  font-size: 2.5rem;
  line-height: 3.5rem;
}
.Cross_Icon_Container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #202020d3;
  padding: 1rem;
  border-radius: 0.6rem;
}
.Cross_Icon_Container:hover {
  background-color: #0b9ad6;
  transition: 1s;
}
.CrossIcon {
  width: 1.5rem;
  object-fit: contain;
  /* border: 1px solid red; */
}
@media only screen and (max-width: 1200px) {
  .Common_Step_Input_Container {
    display: flex;
    flex-direction: column;
  }
  .Common_Basis_Details_Item,
  .Common_Contact_Details_Item {
    width: 100%;
  }
  .Second_Prime_Class {
    width: 100% !important;
  }
}
@media only screen and (max-width: 900px) {
  .Common_Step_Input_Container {
    display: flex;
    flex-direction: row;
  }
  .Common_Basis_Details_Item,
  .Common_Skill_Details_Item,
  .Common_Contact_Details_Item {
    width: 47%;
  }
  .Common_SIngle_Class {
    width: 100% !important;
  }
  .Second_Prime_Class {
    width: 47% !important;
  }
}
@media only screen and (max-width: 450px) {
  .Common_Step_Input_Container {
    display: flex;
    flex-direction: column;
  }
  .Common_Basis_Details_Item,
  .Common_Skill_Details_Item,
  .Common_Contact_Details_Item {
    width: 100%;
  }
  .Common_SIngle_Class {
    width: 100% !important;
  }
  .Second_Prime_Class {
    width: 100% !important;
  }
}
