.Back_Button_Container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.3rem;
  cursor: pointer;
}
.Button_Icon_Container {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.2rem;
  border-radius: 0.5rem;
  background-color: #000000;
}
.BackArrowIcon {
  width: 2rem;
  height: 2rem;
  object-fit: contain;
  object-position: center;
}
.Button_Icon_Container:hover {
  background-color: #0b9ad6;
  transition: all 0.5s ease-in-out;
}

.BackButtonLightText {
  color: rgb(159, 157, 157);
  font-size: 2.4rem;
  line-height: 3.5rem;
  font-family: "Questrial-Regular";
}
.BackButtonText,
.BTnBackText {
  color: black;
  font-size: 2.4rem;
  line-height: 3.5rem;
  font-family: "Questrial-Regular";
}
@media only screen and (max-width: 550px) {
  .BTnBackText {
    display: none;

  }
}
